form {
    border: 0px;
    width: 25%;
    height: 40%;
    
    
}
a {
    margin-left: 50px;
    color: papayawhip;
}
#rememberMe {
    margin-left: auto;
}
label {
    margin-left: 20px;
}
#header {
    border: 7px solid whitesmoke;
    padding: 9px;
    margin-top: -5px;
}
input[type = text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 20px 14px;
    display: inline-block;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}
#loginButton {
    background: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 44px;
    border: 1px solid 4px;
    cursor: pointer;
    width: 70%;
}
body {
    margin-left: 35%;
    background: orange;
}
button:hover {
    opacity: 0.8;
}
.container {
    position: relative;
    width: 300px;
    height: 450px;
    background: rgba(11, 4, 37, 0.822);
    color: #ffffff;
    padding: 30px 10px;
    margin-top: 30%;
}

#welcomeheader {
    background: black;
    width: fit-content;
    position: relative;
    margin-left: 0px;
    color: burlywood;
    text-align: center;
    border: 4px double wheat;
    padding: 8px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: outline;
    font-weight: bolder;
    font-size: large;
}
#welcomecredentials {
    background: rgba(66, 6, 48, 0.692);
    width: fit-content;
    padding: 12px;
    border: 6px dotted black;
    text-align: center;
    margin-left: -6%;
    margin-top: 18px;
}